/*
Name: Prachi Patel
E-mail: Prachi_Patel@student.uml.edu
Comp.4610, GUI Programming I
Homework 6: jQuery Slider and Tabs
File: 
Created: 11/29/2017
Last updated by PP: 12/3/2017
*/

body {
    color: #6cacc5;
    width: 78%;
    margin: 10% auto;
    background: #100a1c;
    font-size: 15px;
}

h1 {
    color: #fff;
    text-align: center;
}

button {
    border: 0;
    background-color: #201e40;
    color: #6cacc5;
    cursor: pointer;
    font: inherit;
    height: 1.5em;
    margin: 0.25em;
    font-size: 22px;
}

#clc_form {
    color: #5ae6e6;
    background-color: #100a1c;
}

.tableButton {
    background:#17a928;
    color:#ffffff;
    width: 150px;
    height: 45px;
    font-size:23px;
    cursor: pointer;
    outline:none;
    border-radius: 5px;
    border-bottom:3px solid #1f7a29;
}

#displayTable {
    font-size:20px;
    margin: 0 auto 0 auto;
    text-align:center;
    border: 2px;
    border-width:2px;
    border-style:inset;
    color: #c97874;
    
}

tr:nth-child(even) {
    background-color: #201e40;
}

td, th {
    border: 1px solid;
}

