/*
Name: Prachi Patel
E-mail: Prachi_Patel@student.uml.edu
Comp.4610, GUI Programming I
Homework 6: jQuery Slider and Tabs
File: 
Created: 11/29/2017
Last updated by PP: 12/3/2017
*/

.jqslider {
    background-color: #e69e60;
    width: 180px;
    margin-left: 225px;
    margin-top: 20px;
}
